/*
* contains all of the styles for the site
* this is the main css file
*
* Author: 	Rohit Mehta
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --gradient-top: linear-gradient(
        0deg,
        "coral",
        "gainsboro",
        "cultured",
        "jet",
        "chestnut"
    );
    --gradient-right: linear-gradient(
        90deg,
        "coral",
        "gainsboro",
        "cultured",
        "jet",
        "chestnut"
    );
    --gradient-bottom: linear-gradient(
        180deg,
        "coral",
        "gainsboro",
        "cultured",
        "jet",
        "chestnut"
    );
    --gradient-left: linear-gradient(
        270deg,
        "coral",
        "gainsboro",
        "cultured",
        "jet",
        "chestnut"
    );
    --gradient-top-right: linear-gradient(
        45deg,
        "coral",
        "gainsboro",
        "cultured",
        "jet",
        "chestnut"
    );
    --gradient-bottom-right: linear-gradient(
        135deg,
        "coral",
        "gainsboro",
        "cultured",
        "jet",
        "chestnut"
    );
    --gradient-top-left: linear-gradient(
        225deg,
        "coral",
        "gainsboro",
        "cultured",
        "jet",
        "chestnut"
    );
    --gradient-bottom-left: linear-gradient(
        315deg,
        "coral",
        "gainsboro",
        "cultured",
        "jet",
        "chestnut"
    );
    --gradient-radial: radial-gradient(
        "coral",
        "gainsboro",
        "cultured",
        "jet",
        "chestnut"
    );
}

/* Google Fonts */
/* @import url("https://fonts.googleapis.com/css2?family=VT323"); */
/*font-family: 'VT323', monospace;  for body text*/
